[page-type=projects]
	header
		+below($md)
			#project-description, #project-credits
				display none

#projects
	position fixed !important
	top 7.1rem !important
	left 0
	height calc(100% - 7.1rem) !important
	width 100%
	.projects-category
		position relative
	.projects-slider
		width 100%
		height 100%
		height calc(100% - 7.1rem)
		.flickity-viewport, .flickity-slider
			height calc(100% - 7.1rem)
		&.moving
			.project-thumbnail
				cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
				cursor: -webkit-grab;
				cursor: -moz-grab;
				cursor: -o-grab;
				cursor: -ms-grab;
				cursor: grab;
				&:active
					cursor: url('https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur'), all-scroll;
					cursor: -webkit-grabbing;
					cursor: -moz-grabbing;
					cursor: -o-grabbing;
					cursor: -ms-grabbing;
					cursor: grabbing;
	.project-thumbnail
		img
			transition filter 200ms ease
			height calc(100vh - 7.1rem)
			&:not(.lazyloaded)
				filter: blur(10px)
